body {
    background-color: blue;
}
p, h1 {
    color: white;
}



h2 {
    color: dimgray;
}
.second_p {
    font-size: 16px;
    color: rgb(73, 17, 17);
}



h3 {
    color: black;
}
.third_p {
    font-size: 16px;
    color: green;
}

h4 {
    color: white;
}
.fourth_p {
    font-size: 24px;
    color: whitesmoke;
}

b {
    color: aliceblue;
    font-size: 24px;
    text-align: center;
}